@model WebShop.Models.Product

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> lsProducts = ViewBag.SanPham;
}

<!-- Begin Main Content Area  -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/2-1-1920x523.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">@Model.ProductName</h1>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>@Model.ProductName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="~/images/products/@Model.Thumb" class="single-img gallery-popup">
                                        <img class="img-full" src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/assets/images/product/large-size/2-2-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-2-555x645.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/assets/images/product/large-size/2-3-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-3-555x645.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="~/assets/images/product/large-size/2-4-555x645.jpg" class="single-img gallery-popup">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-4-555x645.jpg" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-thumb-with-content row">
                        <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                            <div class="single-product-content">
                                <h2 class="title">@Model.ProductName</h2>
                                <div class="price-box pb-1">
                                    <span class="new-price text-danger">@Model.Price.Value.ToString("#,##0") VNĐ</span>
                                    @*<span class="old-price text-primary">$90.00</span>*@
                                </div>
                                <div class="rating-box-wrap pb-7">
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="review-status ps-4">
                                        <a href="javascript:void(0)">( 1 Customer Review )</a>
                                    </div>
                                </div>
                                <p class="short-desc mb-6">
                                    @Model.ShortDesc
                                </p>
                                <ul class="quantity-with-btn pb-7">
                                    <li class="quantity">
                                        <div class="cart-plus-minus">
                                            <input id="txtsoLuong" name="txtsoLuong" class="cart-plus-minus-box" value="1" type="text">
                                        </div>
                                    </li>
                                    <li class="add-to-cart">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                                        <input hidden asp-for="ProductId" />
                                    </li>
                                </ul>
                                <div class="product-category text-matterhorn pb-2">
                                    <span class="title">DANH MỤC :</span>
                                    <ul>
                                        <li>
                                            <a href="danhmuc/@Model.Cat.Alias">@Model.Cat.CatName</a>
                                        </li>
                                    </ul>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
                            <div class="swiper-container single-product-thumbs">
                                <div class="swiper-wrapper">
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-1-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-2-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-3-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                    <a href="javascript:void(0)" class="swiper-slide">
                                        <img class="img-full" src="~/assets/images/product/large-size/2-4-555x645.jpg" alt="Product Thumnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active btn btn-custom-size" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Mô tả sản phẩm
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Reviews
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="shipping-tab" data-bs-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">
                                Thông tin giao hàng
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                <h4 class="heading mb-5">3 Review Items</h4>
                                <ul class="user-info-wrap">
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Oscar -</strong> March 15, 2021</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    “Sed ligula sapien, fermentum id est eget,
                                                    viverra auctor sem. Vivamus maximus enim vitae urna porta, ut
                                                    euismod nibh lacinia ellentesque at diam voluptas quas nisi, culpa
                                                    in accusantium“
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Oscar -</strong> March 15, 2021</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    “Sed ligula sapien, fermentum id est eget,
                                                    viverra auctor sem. Vivamus maximus enim vitae urna porta, ut
                                                    euismod nibh lacinia ellentesque at diam voluptas quas nisi, culpa
                                                    in accusantium“
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="~/assets/images/testimonial/user/1.png" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Oscar -</strong> March 15, 2021</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    “Sed ligula sapien, fermentum id est eget,
                                                    viverra auctor sem. Vivamus maximus enim vitae urna porta, ut
                                                    euismod nibh lacinia ellentesque at diam voluptas quas nisi, culpa
                                                    in accusantium“
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="feedback-area pt-5">
                                    <h2 class="heading mb-1">Add a review</h2>
                                    <p class="short-desc mb-3">Your email address will not be published.</p>
                                    <div class="rating-box">
                                        <span>Your rating</span>
                                        <ul class="ps-4">
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                        </ul>
                                    </div>
                                    <form class="feedback-form pt-8" action="#">
                                        <div class="group-input">
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="name" placeholder="Your Name*" class="input-field">
                                            </div>
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="email" placeholder="Your Email*" class="input-field">
                                            </div>
                                            <div class="form-field">
                                                <input type="text" name="number" placeholder="Phone number" class="input-field">
                                            </div>
                                        </div>
                                        <div class="form-field mt-6">
                                            <textarea name="message" placeholder="Message" class="textarea-field"></textarea>
                                        </div>
                                        <div class="button-wrap mt-8">
                                            <button type="submit" value="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover btn-lg rounded-0" name="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <div class="product-shipping-body">
                                <h4 class="title">Shipping</h4>
                                <p class="short-desc mb-4">
                                    The item will be shipped from China. So it need 15-20 days to
                                    deliver. Our product is good with reasonable price and we believe you will worth it.
                                    So please wait for it patiently! Thanks.Any question please kindly to contact us and
                                    we promise to work hard to help you to solve the problem
                                </p>
                                <h4 class="title">About return request</h4>
                                <p class="short-desc mb-4">
                                    If you don't need the item with worry, you can contact us
                                    then we will help you to solve the problem, so please close the return request!
                                    Thanks
                                </p>
                                <h4 class="title">Guarantee</h4>
                                <p class="short-desc mb-0">
                                    If it is the quality question, we will resend or refund to
                                    you; If you receive damaged or wrong items, please contact us and attach some
                                    pictures about product, we will exchange a new correct item to you after the
                                    confirmation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-slider-area section-space-top-95 section-space-bottom-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">Có thể bạn cũng thích</span>
                <h2 class="title mb-0">Sản phẩm liên quan</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-slider-holder swiper-arrow">
                        <div class="swiper-container product-slider border-issue">
                            <div class="swiper-wrapper">
                                @if (lsProducts != null)
                                {
                                    foreach (var item in lsProducts)
                                    {
                                        string url = $"/{item.Alias}-{item.ProductId}.html";
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="cart.html">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="compare.html">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content texx">
                                                    <a class="product-name" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here  -->
@section Scripts{
<script>
    $(document).ready(function () {
        $(function () {
            $(".add-to-cart").click(function () {
                var productid = $('#ProductId').val();
                var soLuong = $('#txtsoLuong').val();
                $.ajax({
                    url: '/api/cart/add',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soLuong
                    },
                    success: function (response) {
                        if (response.result == 'Redirect') {
                            window.location = response.url;
                        }
                        else {
                            loadHeaderCart(); //Add Product success
                            location.reload();
                        }
                        console.log(response); // log to the console to see whether it worked
                    },
                    error: function (error) {
                        alert("There was an error posting the data to the server: " + error.responseText);
                    }
                });
            });

            @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                    url: "api/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });*@
        });
        function loadHeaderCart() {
            $('#miniCart').load("/AjaxContent/HeaderCart");
            $('#numberCart').load("/AjaxContent/NumberCart");
        }
    });
</script>

}