@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebShop.Models.Product>
@{
    ViewData["TiTle"] = "Shop - " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/2-1-1920x523.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">Shop hoa quả</h1>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>DANH SÁCH SẢN PHẨM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox mb-9">
                            <form id="widgets-searchbox" action="#">
                                <input class="input-field" type="text" placeholder="Search">
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Refine By</h2>
                            <div class="widgets-item">
                                <ul class="widgets-checkbox">
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="refine-item">
                                        <label class="label-checkbox mb-0" for="refine-item">
                                            On Sale
                                            <span>4</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="refine-item-2" checked>
                                        <label class="label-checkbox mb-0" for="refine-item-2">
                                            New
                                            <span>4</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="refine-item-3">
                                        <label class="label-checkbox mb-0" for="refine-item-3">
                                            In Stock
                                            <span>4</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets-area widgets-filter mb-9">
                            <h2 class="widgets-title mb-5">Price Filter</h2>
                            <div class="price-filter">
                                <div id="slider-range"></div>
                                <div class="price-slider-amount">
                                    <button class="btn btn-primary btn-secondary-hover">Filter</button>
                                    <div class="label-input position-relative">
                                        <label>price : </label>
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Color</h2>
                            <div class="widgets-item">
                                <ul class="widgets-checkbox">
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="color-selection-1">
                                        <label class="label-checkbox mb-0" for="color-selection-1">
                                            Green
                                            <span>7</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="color-selection-2" checked>
                                        <label class="label-checkbox mb-0" for="color-selection-2">
                                            Cream
                                            <span>3</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="color-selection-3">
                                        <label class="label-checkbox mb-0" for="color-selection-3">
                                            Blue
                                            <span>4</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="color-selection-4">
                                        <label class="label-checkbox mb-0" for="color-selection-4">
                                            Black
                                            <span>6</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Size</h2>
                            <div class="widgets-item">
                                <ul class="widgets-checkbox">
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="size-selection-1">
                                        <label class="label-checkbox mb-0" for="size-selection-1">XL</label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="size-selection-2" checked>
                                        <label class="label-checkbox mb-0" for="size-selection-2">L</label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="size-selection-3">
                                        <label class="label-checkbox mb-0" for="size-selection-3">SM</label>
                                    </li>
                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="size-selection-4">
                                        <label class="label-checkbox mb-0" for="size-selection-4">XXL</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Top Rated Products</h2>
                            <div class="widgets-item">
                                <div class="swiper-container widgets-list-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="product-list-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="single-product.html">
                                                        <img class="img-full" src="~/assets/images/product/small-size/1-1-112x124.jpg" alt="Product Images">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="single-product.html">Dried Lemon Green</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">$80.00</span>
                                                    </div>
                                                    <div class="rating-box-wrap">
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-list-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="single-product.html">
                                                        <img class="img-full" src="~/assets/images/product/small-size/1-2-112x124.jpg" alt="Product Images">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="single-product.html">Natural Coconut</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">$80.00</span>
                                                    </div>
                                                    <div class="rating-box-wrap">
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-list-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="single-product.html">
                                                        <img class="img-full" src="~/assets/images/product/small-size/1-3-112x124.jpg" alt="Product Images">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="single-product.html">Black Peppepr Read</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">$80.00</span>
                                                    </div>
                                                    <div class="rating-box-wrap">
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                                <li><i class="pe-7s-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widgets-area">
                            <h2 class="widgets-title mb-5">Tag</h2>
                            <div class="widgets-item">
                                <ul class="widgets-tags">
                                    <li>
                                        <a href="javascript:void(0)">Clothing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Accessories</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">For Men</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Women</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Fashion</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a class="active" id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page-count">
                                <span>23</span> Product Found of <span>50</span>
                            </li>
                            <li class="short">
                                <select class="nice-select wide rounded-0">
                                    <option value="1">Sort by Default</option>
                                    <option value="2">Sort by Popularity</option>
                                    <option value="3">Sort by Rated</option>
                                    <option value="4">Sort by Latest</option>
                                    <option value="5">Sort by High Price</option>
                                    <option value="6">Sort by Low Price</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.Alias}-{item.ProductId}.html";
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view with-sidebar row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.Alias}-{item.ProductId}.html";
                                        <div class="col-12 pt-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price</span>
                                                    </div>
                                                    <div class="rating-box pb-2">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <p class="short-desc mb-0">@item.ShortDesc</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area pt-10">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-area="" asp-controller="Product" asp-action="Index" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->