@model WebShop.Models.Product

@{ ViewData["Title"] = "Thông tin sản phẩm" + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Thông tin sản phẩm : @Model.ProductName</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Thông tin sản phẩm : @Model.ProductName</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.ProductId</td>
                </tr>
                <tr>
                    <td>Tên sản phẩm:</td>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <td>Mô tả ngắn:</td>
                    <td>@Model.ShortDesc</td>
                </tr>
                <tr>
                    <td>Giá:</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Discount:</td>
                    <td>@Model.Discount</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>
                        @if (Model.Active)
                        {
            <div class="switch m-r-10">
                <input type="checkbox" id="switch-1" checked="" disabled />
                <label for="switch-1"></label>
            </div> }
                        else
                        {
            <div class="switch m-r-10">
                <input type="checkbox" id="switch-1" disabled />
                <label for="switch-1"></label>
            </div>}
                    </td>
                </tr>
                <tr>
                    <td>Bestseller:</td>
                    <td>
                        @if (Model.BestSellers)
                        {
            <div class="switch m-r-10">
                <input type="checkbox" id="switch-1" checked="" disabled />
                <label for="switch-1"></label>
            </div> }
                        else
                        {
            <div class="switch m-r-10">
                <input type="checkbox" id="switch-1" disabled />
                <label for="switch-1"></label>
            </div>}
                </td>
            </tr>
            <tr>
                <td>HomeFlag:</td>
                <td>
                    @if (Model.HomeFlag)
                    {
        <div class="switch m-r-10">
            <input type="checkbox" id="switch-1" checked="" disabled />
            <label for="switch-1"></label>
        </div> }
                    else
                    {
        <div class="switch m-r-10">
            <input type="checkbox" id="switch-1" disabled />
            <label for="switch-1"></label>
        </div>}

                </td>
            </tr>
            <tr>
                <td>Danh mục:</td>
                <td>@Model.Cat.CatName</td>
            </tr>
            <tr>
                <td>Ngày tạo:</td>
                <td>@Model.DateCreated</td>
            </tr>
            <tr>
                <td>Ngày chỉnh sửa:td>
                <td>@Model.DateModified</td>
            </tr>
            <tr>
                <td>Tiêu đề:</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>MetaDesc:</td>
                <td>@Model.MetaDesc</td>
            </tr>
            <tr>
                <td>MetaKey:</td>
                <td>@Model.MetaKey</td>
            </tr>
            <tr>
                <td>Tags:</td>
                <td>@Model.Tags</td>
            </tr>
            <tr>
                <td>Ảnh đại diện:</td>
                <td>
                    <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.Title" />
                </td>
            </tr>
            <tr>
                <td>Mô tả sản phẩm:</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Xác nhận xóa:</td>
                <td>
                    <form asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@Model.ProductId">
                        <input type="hidden" asp-for="ProductId" />
                        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> 
                    </form>
                </td>
            </tr>

        </tbody>
    </table>
</div>
</div>



