@model WebShop.ModelViews.XemDonHang
@{
    var total = Model.ChiTietDonHang.Sum(x => x.TotalMoney).Value.ToString("#,##0");
}
<h3>Thông tin đơn hàng: #@Model.DonHang.OrderId</h3>
<br />
<p>Ngày đặt hàng: @Model.DonHang.OrderDate</p>
<p>Trạng thái đơn hàng: @Model.DonHang.TransactStatus.Status</p>
<p>Tổng giá trị đơn hàng: <strong> @total VNĐ</strong></p>
<p>Ngày ship hàng: @Model.DonHang.ShipDate</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>

                @foreach (var item in Model.ChiTietDonHang)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Amount</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                    </tr>
                }
        </tbody>
    </table>
</div>


