@model WebShop.Models.TinDang

@{ ViewData["Title"] = "Chi tiết tin tức :" + Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Index" class="breadcrumb-item">Danh sách tin tức</a>
            <span class="breadcrumb-item active">Danh mục : @Model.Title</span>
        </nav>
    </div>
</div>

<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height:70px; width:70px">
                <img src="~/images/news/@Model.Thumb" alt="@Model.Title" />
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.Title</h4>
                <p class="text-muted m-b-0">ID: #@Model.CatId</p>
            </div>
        </div>
        <div class="m-b-15">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Edit" asp-route-id="@Model.PostId">Sửa đổi</a>
        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Contents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thumb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsHot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsHot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNewfeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNewfeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
    </dl>
</div>

